.content {
  overflow: hidden;

  &-left {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 100vw;
      background-color: $gray-100;

      @include media-breakpoint-down('md') {
        display: none;
      }
    }
  }
}

.left-menu {
  padding: em(40) $grid-gutter-width / 2;
  margin-left: -$grid-gutter-width / 2;
  margin-right: -$grid-gutter-width / 2;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: $primary;
  }

  &-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
  }

  &-item {
    opacity: 0.6;
    margin-bottom: em(15);
    color: $white;
    transition: opacity 0.4s;
    position: relative;
    padding-right: em(98);

    @include media-breakpoint-down('lg') {
      padding-right: em(60);
    }

    &.active {
      opacity: 1;
      font-weight: bold;

      &::after {
        content: '';
        position: absolute;
        right: 4%;
        top: 50%;
        margin-top: em(-7);
        height: em(14);
        width: em(25);
        background-image: url('../images/arrow-white-small.png');
        background-position: center;
        background-size: contain;
      }
    }

    &:hover {
      opacity: 1;

      .left-menu-link {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  &-link {
    display: block;
    color: inherit;
  }
}

.filter {
  padding-top: em(40);
  padding-bottom: em(40);
  padding-right: em(20);

  @include media-breakpoint-down('md') {
    padding: em(20) 0 0;
  }

  &-search {
    position: relative;
    border: none;
    border-bottom: 1px solid $gray-400;
    width: 100%;
    padding: em(10);
    padding-right: em(50);
    margin-bottom: em(20);
    line-height: 1;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url('../images/find.svg');
  }

  &-select {
    position: relative;
    border-bottom: 1px solid $gray-400;
    cursor: pointer;
    margin-bottom: em(20);

    &::after {
      content: '';
      position: absolute;
      right: em(15);
      top: 18px;
      border-top: 6px solid $primary;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
    }

    &-current {
      padding: em(10);
    }

    &-drop {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      margin-top: 1px;
      opacity: 0;
      pointer-events: none;
      border-bottom: 1px solid $primary;
      background-color: $gray-100;
    }

    &-item {
      display: block;
      padding: em(10);
      margin-bottom: 0;
      cursor: pointer;

      &:hover {
        background-color: $gray-200;
      }

      input {
        position: absolute;
        left: -100vh;
      }
    }

    &:focus,
    &.active {
      .filter-select-drop {
        z-index: 2;
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

.btn-ask {
  margin-top: em(100, 24);
  position: relative;
  z-index: 2;
  margin-left: -$grid-gutter-width * 2;
  margin-right: -$grid-gutter-width * 2;
  background-color: #839d29;
  color: $white;
  font-size: em(24);
  font-weight: bold;
  padding: em(20, 24);
  display: block;

  @include media-breakpoint-down('md') {
    margin: 0;
    margin-top: em(20, 16);
    font-size: em(16);
  }
}

.user {
  position: relative;
  z-index: 2;

  &-img {
    img {
      border-radius: 50%;
    }
  }

  &-desc {
    color: $white;

    &--black {
      color: $black;
    }
  }

  &-name {
    font-size: em(24);
    font-weight: bold;
    line-height: 1.2;
  }

  &-action {
    a {
      color: inherit;
      text-decoration: underline;
      opacity: 0.7;
      transition: opacity 0.2s;

      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }
  }
}
