.main-carousel {
  &-item {
    display: flex !important;
    justify-content: center;
    min-height: 500px;
    height: 50vh;
    transition: opacity 0s !important;
    opacity: 1 !important;

    .main-carousel-img {
      transition: opacity 1s;
      opacity: 0;
    }

    .main-carousel-text,
    .main-carousel-meta,
    .main-carousel-more {
      transition: opacity 1s, transform 1s;
      opacity: 0;
    }

    .main-carousel-meta {
      transform: translateY(50px);
    }

    .main-carousel-text {
      transform: translateY(-100px);
    }

    &.active {
      .main-carousel-img {
        opacity: 1;
      }

      .main-carousel-text,
      .main-carousel-meta,
      .main-carousel-more {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &-img {
    display: block;
    object-fit: cover;
    width: 100%;
  }

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    p {
      margin: 0;
    }

    .container {
      height: 100%;
    }
  }

  &-show {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 5%;
  }

  &-text {
    font-size: em(36);
    font-weight: bold;
    color: $white;

    @include media-breakpoint-down('md') {
      font-size: em(24);
    }
  }

  &-meta {
    margin-top: 5%;
    color: $secondary;
    font-size: em(18);
  }

  &-more {
    position: absolute;
    bottom: 6%;

    .readmore {
      text-decoration: none;
    }
  }

  &-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .container {
      height: 100%;
    }
  }

  &-indicators {
    position: relative;
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2%;
    margin-bottom: 5%;
    z-index: 10;

    li {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      border: 12px solid transparent;
    }
  }

  &-counter {
    position: relative;
    z-index: 10;
    text-align: right;
    line-height: 1.2;

    &::before {
      content: '';
      display: block;
    }
  }

  &-index {
    color: $white;
    font-size: em(36);
    width: 50px;
    height: 45px;
    position: relative;

    span {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transition: opacity 0.5s, transform 1s;
      transform: scale(0.5) translateY(35px);
      transform-origin: top right;
      opacity: 0;

      &.in {
        opacity: 1;
        transform: scale(1) translateY(0);
      }

      &.out {
        transform: scale(0.5) translateY(-35px);
        opacity: 0;
      }
    }
  }

  &-summ {
    opacity: 0.5;
    font-size: em(14);
    padding-top: em(10);
    color: $white;
    border-top: 2px solid;
    display: inline-block;
  }

  &-arrows {
    position: absolute;
    bottom: 3%;
    display: flex;
  }

  &-arrow {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 15px;
    width: auto;
    display: inline-block;

    &::before {
      content: '';
      display: block;
      width: 42px;
      height: 14px;
      background-size: contain;
      background-image: url('../images/arrow.png');
    }

    &--right {
      transform: scaleX(-1);
    }
  }
}

.readmore {
  line-height: 1.1;
  display: inline-block;
  position: relative;
  font-weight: 500;
  transition: color 0.4s;

  &::after {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    content: url('../images/arrow-more.svg');
    margin-left: 10px;
    transition: transform 0.3s;
    line-height: 0;
  }

  &:hover {
    text-decoration: none;

    &::after {
      transform: translateY(-50%) translateX(10px);
    }
  }

  &--white {
    color: $white;
    transition: border-color 0.3s;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);

    &:hover {
      color: $white;
      border-bottom: 2px solid transparent;
    }
  }

  &--blue {
    &::after {
      content: url('../images/arrow-more-blue.svg');
    }
  }

  &--small {
    font-size: em(14);
  }
}
