.news {
  &-carousel {
    &-indicators {
      color: $black;
      margin: 0;
      justify-content: flex-end;
      position: relative;
      z-index: 10;

      li {
        font-size: em(14);
        color: $secondary;
        height: auto;
        opacity: 1;
        text-indent: 0;
        background-color: transparent;
        width: 58px;
        text-align: right;
        border-bottom: 2px solid;
        margin-left: 3px;
        margin-right: 0;

        &:first-child {
          margin-left: 0;
        }

        &.active {
          color: $primary;
        }
      }
    }
  }

  &-item {
    padding-bottom: em(20);
    padding-right: em(71);

    @include media-breakpoint-down('lg') {
      padding-right: em(15);
    }

    &-date {
      color: $secondary;
      font-size: em(14);
    }

    &-img {
      padding-top: em(15);
      padding-bottom: em(10);

      img {
        max-width: 100%;
      }
    }

    &-title {
      font-weight: 500;
      font-size: em(18);
      color: $black;
      padding-top: em(10);
      padding-bottom: em(10);

      a {
        color: inherit;
      }

      &:hover {
        color: $primary;

        a {
          color: $primary;
          text-decoration: none;
        }
      }
    }

    &-desc {
      h4 {
        font-size: em(16);
        color: $secondary;
        margin: 0;
        font-weight: normal;
      }
    }
  }
}

.file {
  &-item {
    padding-top: em(15);
    padding-bottom: em(10);
    display: flex;
    align-items: flex-end;
  }

  &-img {
    img {
      width: 132px;
      height: 186px;
      display: block;
      background-image: url('../images/content/file-no-img.png');
      background-color: $white;
      box-shadow: 0 4px 21px $gray-400;
    }
  }

  &-desc {
    padding-bottom: $grid-gutter-width;
    padding-left: $grid-gutter-width;
    font-size: em(14);
    line-height: 1.2;
  }

  &-link {
    margin-top: $grid-gutter-width;
  }
}
