.content-right {
  padding-top: em(40);
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;

  &-item {
    color: $primary;
    font-size: em(14);

    a {
      color: inherit;
    }

    & + .breadcrumb-item {
      padding-left: 0.3em;

      &::before {
        padding-right: 0;
        color: inherit;
      }
    }
  }
}

.solo {
  padding-bottom: em(50);

  &-title {
    margin-top: em(15, 30);
    margin-bottom: em(15, 30);
    font-size: em(30);
    line-height: 1.2;
    font-weight: bold;
  }

  &-time {
    font-weight: bold;
    color: $primary;
  }

  &-content {
    font-size: em(18);
    padding-top: em(30, 18);
    padding-bottom: em(20, 18);

    @include media-breakpoint-down('lg') {
      font-size: em(16);
    }

    a {
      text-decoration: underline;
    }

    p {
      margin-bottom: em(30, 18);
    }

    ul {
      padding: 0;
      margin: em(30, 18) 0;
      list-style: none;

      li {
        position: relative;
        padding-left: em(40, 18);
        margin-bottom: em(20, 18);

        &::before {
          content: '';
          width: 5px;
          height: 5px;
          background-color: $primary;
          position: absolute;
          left: 24px;
          top: 10px;
        }
      }
    }

    img {
      margin-top: em(30, 18);
      margin-bottom: em(50, 18);

      &.full-width-img {
        margin-left: -16.1%;
        max-width: em(880, 18);

        @include media-breakpoint-down('lg') {
          margin-left: -16.3%;
          max-width: em(800, 18);
        }

        @include media-breakpoint-down('md') {
          margin-left: 0;
          max-width: 100%;
        }
      }
    }
  }
}

.share {
  font-weight: bold;
  line-height: 1.2;

  span {
    &:first-child {
      vertical-align: middle;
      margin-right: em(15);
    }
  }

  &_icon {
    margin: 0 em(8);
    vertical-align: middle;
    width: em(25);
    height: em(18);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.4s;
    opacity: 0.4;

    &:hover {
      opacity: 0.9;
    }

    &--facebook {
      background-image: url('../images/share-icon-facebook.svg');
    }

    &--twitter {
      background-image: url('../images/share-icon-twitter.svg');
    }

    &--google {
      background-image: url('../images/share-icon-google.svg');
    }

    &--vk {
      background-image: url('../images/share-icon-vk.svg');
    }

    &--other {
      background-image: url('../images/share-icon-more.svg');
    }
  }
}

.expert {
  &-name {
    font-size: em(36);
    margin: em(20, 36) 0;
    font-weight: bold;
  }

  &-desc {
    padding-top: em(20);
    padding-bottom: em(20);
  }

  &-flag {
    display: flex;
    align-items: center;

    img {
      margin-right: em(20);
    }
  }

  &-position {
    line-height: 1.2;

    &_title {
      font-weight: bold;
    }

    &_text {
      color: $primary;
    }
  }

  &-info {
    margin-top: em(40);
  }
}

.articles {
  background-image: url('../images/articles-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dae1ec;

  &-tab {
    display: none;

    &.active {
      display: flex;
    }

    &-link {
      font-weight: bold;
      font-size: em(30);
      color: $primary;
      border-bottom: 3px solid $primary;
      transition: color 0.2s, border-color 0.2s;
      opacity: 0.4;
      line-height: 1.2;
      cursor: pointer;
      display: inline-block;

      &.active {
        cursor: initial;
        color: $black;
        border-bottom-color: transparent;
        opacity: 1;
      }
    }

    &-links {
      padding-top: em(10);
      padding-bottom: em(40);
    }
  }

  &-item {
    padding-bottom: em(40);

    &_title {
      color: $black;
      font-weight: bold;
      font-size: em(18);
      line-height: 1.2;

      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }

    & > p {
      font-size: em(14);
    }
  }
}
